/**
 * Colors
 */
/*
 * mixins
 */
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto';
}

.Chat {
  display: flex;
  flex-direction: column;
}

.Chat p {
  flex: 1;
  min-height: 128px;
}

.Board {
  background: #1b5e20;
  border: 8px solid #433315;
  display: flex;
  flex-wrap: wrap;
  height: 720px;
  width: 720px;
}

@media screen and (max-width: 768px) {
  .Board {
    margin: 0 auto;
    height: 420px;
    width: 420px;
  }
}

.Row {
  display: flex;
  flex-direction: row;
  height: 12.5%;
  width: 100%;
}

.Tile {
  align-items: center;
  border: 1px solid #154a19;
  display: flex;
  justify-content: center;
  flex: 0 0 12.5%;
  padding: 1%;
}

.Tile:not(.Tile--white):not(.Tile--black):hover {
  background: #154a19;
  cursor: pointer;
}

.Tile > div {
  border-color: 1px solid #bdbdbd;
  border-radius: 50%;
  height: 0;
  width: 0;
  transition: .1s ease all;
}

.Tile--black > div {
  background: #424242;
  width: 100%;
  height: 100%;
}

.Tile--white > div {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

/*
 * Utilities
 */
.u-displayBlock {
  display: block !important;
}

.u-centerBlock {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-marginTop {
  margin-top: 0.5rem !important;
}

.u-marginTop2x {
  margin-top: 1rem !important;
}

.u-marginTop4x {
  margin-top: 2rem !important;
}

.u-hidden {
  display: none !important;
}

.u-widthFull {
  width: 100% !important;
}

.u-textCenter {
  text-align: center !important;
}

.u-backgroundBlackSemiTransparent {
  background: rgba(0, 0, 0, 0.5) !important;
}

.u-backgroundPrimary {
  background: #3F51B5 !important;
}

.u-backgroundWhite {
  background: white !important;
}

.u-colorWhite {
  color: white !important;
}

.u-posRelative {
  position: relative !important;
}

.u-boxShadow {
  -webkit-box-shadow: 1px 1px 20px 0 #7D7D7D;
  box-shadow: 1px 1px 20px 0 #7D7D7D;
}

.u-boxShadowLight {
  -webkit-box-shadow: 1px 1px 20px 0 #b0b0b0;
  box-shadow: 1px 1px 20px 0 #b0b0b0;
}
 

 /*# sourceMappingURL= style.css.map */