/**
 * Colors
 */

$primary: #3F51B5;
$primaryLighten: lighten($primary, 10);
$primaryDarken: darken($primary, 10);

$board: #1b5e20;
$boardBorder: #433315;

$tileWhite: #fafafa;
$tileBlack: #424242;
$tileBorder: #bdbdbd;

$boxShadowDefault: #7D7D7D;

$gameDrawers: 256px;

/*
 * mixins
 */ 

@mixin boxShadow($color: $boxShadowDefault) {
    -webkit-box-shadow: 1px 1px 20px 0 $color;
    box-shadow: 1px 1px 20px 0 $color;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto';
}

.Chat {
    display: flex;
    flex-direction: column;

    p {
        flex: 1;
        min-height: 128px;
    }
}

.Board {
    background: $board;
    border: 8px solid $boardBorder;
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
}

@media screen and (max-width: 768px) {
    .Board {
        margin: 0 auto;
        
        height: 420px;
        width: 420px;
    }
}

.Row {
    display: flex;
    flex-direction: row;
    height: 12.5%;
    width: 100%;
}

.Tile {
    align-items: center;
    border: 1px solid darken($board, 5);
    display: flex;
    justify-content: center;
    flex: 0 0 12.5%;
    padding: 1%;
}

.Tile:not(.Tile--white):not(.Tile--black):hover {
    background: darken($board, 5);
    cursor: pointer;
}

.Tile > div {
    border-color: 1px solid $tileBorder;
    border-radius: 50%;
    height: 0;
    width: 0;
    transition: .1s ease all;
}

.Tile--black > div {
    background: $tileBlack;
    width: 100%;
    height: 100%;
}

.Tile--white > div {
    background: $tileWhite;
    width: 100%;
    height: 100%;
}

/*
 * Utilities
 */

 .u-displayBlock {
     display: block !important;
 }

 .u-centerBlock {
     margin-left: auto !important;
     margin-right: auto !important;
 } 

 .u-marginTop {
     margin-top: 0.5rem !important;
 }

 .u-marginTop2x {
    margin-top: 1rem !important;
}

.u-marginTop4x {
    margin-top: 2rem !important;
}

.u-hidden {
    display: none !important;
}

.u-widthFull {
    width: 100% !important;
}

.u-textCenter {
    text-align: center !important;
}

.u-backgroundBlackSemiTransparent {
    background: rgba(0, 0, 0, 0.5) !important;
}

.u-backgroundPrimary {
    background: $primary !important;
}

.u-backgroundWhite {
    background: white !important;
}

.u-colorWhite {
    color: white !important;
}

.u-posRelative {
    position: relative !important;
}

.u-boxShadow {
    @include boxShadow();
}

.u-boxShadowLight {
    @include boxShadow(lighten($boxShadowDefault, 20));
}